body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
div {
  background-color: rgb(7, 194, 194);
}

.chat-container {
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chat-box {
  height: 300px;
  overflow-y: auto;
  padding: 10px;
}

.user-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.user-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
}

.send-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #1d7ee6;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-btn:hover {
  background-color: #0056b3;
}
.bot {
  justify-self: center;
  justify-content: center;
  align-items: center;
}
