<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mental Health Chatbot</title>
    <link rel="stylesheet" href="static/css/styles.css" />
  </head>
  <body style="background-color: rgb(150, 233, 233); background-image: url()">
    <h2 style="text-align: center; color: rgb(16, 119, 154)">
      Mental health Chatbot
    </h2>

    <!-- <div class="bot">
      <iframe
        style="width: 99vw; height: 80vh"
        src="https://app.fastbots.ai/embed/club77quj01y9r9b1g142ykm8"
      ></iframe>
    </div> -->
    <iframe
      style="width: 99vw; height: 80vh"
      src="https://app.fastbots.ai/embed/clue5vsx7016dn8b215rci5ty"
    ></iframe>
    <!-- <div class="chat-container" id="chat-container">
      <div
        style="background-color: rgb(207, 247, 247)"
        class="chat-box"
        id="chat-box"
      ></div>
      <div class="user-input-container">
        <input
          type="text"
          id="user-input"
          class="user-input"
          placeholder="Type a message..."
        />
        <button id="send-btn" class="send-btn">Send</button>
      </div>
    </div> -->
    <!-- <script>
      document.addEventListener("DOMContentLoaded", function () {
        const chatBox = document.getElementById("chat-box");
        const userInput = document.getElementById("user-input");
        const sendBtn = document.getElementById("send-btn");

        sendBtn.addEventListener("click", function () {
          const userMessage = userInput.value.trim();
          if (userMessage !== "") {
            displayMessage("user", userMessage);
            // Process user message and get bot response
            getBotResponse(userMessage);
            userInput.value = "";
          }
        });

        function displayMessage(sender, message) {
          const messageElement = document.createElement("div");
          messageElement.classList.add(
            sender === "user" ? "user-message" : "bot-message"
          );
          messageElement.innerText = message;
          chatBox.appendChild(messageElement);
          chatBox.scrollTop = chatBox.scrollHeight;
        }

        function getBotResponse(userMessage) {
          // Simulating a simple bot response
          const botResponse = "This is a bot response to: " + userMessage;
          displayMessage("bot", botResponse);
        }
      });
    </script> -->
  </body>
</html>
